html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: Bevan, serif;
}

header {
  display: inline-block;
  margin: .3em;
  padding: .5em .75em;
  background-color: #79756f;
  border: 3px solid #595652;
  border-radius: 10px;
  width: auto;
}

.nav > li {
  margin: .3em;
  padding: .6em;
  list-style-type: none;
  color: #fff;
  display: inline-block;
  width: auto;
  background-color: #713837;
  border-color: #713837;
  border-radius: 10px;
  text-align: center;
}

li a:link {
  color: #fff;
  text-decoration: none;
}

.nav li > a:hover {
  background-color: #f33;
  border-color: #f33;
}
